.nav-link img {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 170px;
}

@media (max-width: 600px) {
    .nav-link img {
        height: 150px;
        width: 250px !important;
    }

}

.hero-container {
    width: 100%;
    height: 100%;
    padding-top: 180px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-hero {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section {
    flex-basis: 49%;
}

.hero-btn-section {
    margin-top: 50px;
}

.hero-btn {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #437eeb;
    color: #fff;
    border-radius: 5px;
    margin-right: 20px;
}

.hero-btn:hover {
    background-color: transparent;
    color: #437eeb;
    border: 1px solid #437eeb;
}

.image-section {
    flex-basis: 49%;
    padding: 5px;
}

.image-section video {
    width: 95%;
    border-radius: 15px;
}

.hero-image {
    border-radius: 12px;
}

@media (max-width: 768px) {
    .hero-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .sub-hero {
        flex-direction: column;
    }

    .content-section {
        margin-bottom: 30px;
        text-align: center;
    }

    .content-section-heading {
        font-size: 35px;
    }
}

/* <------------- hero text ----------------> */

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-top: 20px;
}




/* <--------------- Video section ------------------> */

.video-section {
    width: 100%;
    height: 100%;
    padding-top: 120px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-title {
    color: #437eeb;
    font-size: 21px;
    margin-bottom: 20px;
}

.video-title-heading {
    margin-bottom: 20px;
}

.sub-video-section {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-container {
   border: 2px solid #437eeb;
   padding: 3px;
   border-radius: 5px;
   margin-bottom: 10px;
}

.video-container video {
    height: 640px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .sub-video-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* <----------- about video -------------------> */
.about-video video{
    border-radius: 10px;
}

@media (max-width: 768px) {
    .about-video video {
        width: 100%;
    }
}

